@page
@model ClientProjet.Pages.NombreDeVente.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreVentes[0].Nbventes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreVentes[0].Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreVentes[0].ConsId)
            </th>
            <th>
                Console Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NombreVentes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nbventes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsId)
            </td>
            <td>
                @if (item.ConsId.HasValue && Model.ConsoleNames.ContainsKey(item.ConsId.Value))
                {
                    @Model.ConsoleNames[item.ConsId.Value]
                }
                else
                {
                    <text>Unknown</text>
                }
            </td>
            <td>
                    <a type="button" class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a type="button" class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
